* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headline-color {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.item-content {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
}

.item-content:nth-child(1),
.item-content:nth-child(2) {
  margin-right: 30px;
}

.item-image1 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 15px 10px;
}

.item-image2 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 15px 10px;
}
.item-image3 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 15px 10px;
}

.title {
  padding-left: 10px;
  padding-bottom: 5px;
}

.text {
  padding-left: 10px;
}

.step {
  background-color: #ff9a4b;
  color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-color {
  height: 50px;
  background-color: #aaaaaa;
}
